.stopwatch,
.timer {
  width: 25rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 2rem;
  color: #232946;
  background-color: #d4d8f0;
}

.stopwatch > .time,
.timer .time {
  font-size: 3rem;
  text-align: center;
}

.stopwatch .buttons,
.timer .buttons {
  width: 60%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stopwatch button,
.timer button {
  width: 1.3em;
  height: 1.3em;
  font-size: 2.5rem;
  border: none;
  border-radius: 50%;
  color: #232946;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.stopwatch button:hover,
.timer button:hover {
  color: #000;
}
